html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.content{
  width: 73%;
  margin-bottom: 70px;
}

#copyrights{
  text-align:center;
  color: red;
}
