html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.content{
  width: 73%;
  margin-bottom: 70px;
}

#copyrights{
  text-align:center;
  color: red;
}

#bs-example-navbar-collapse-1{
  padding-left: 40%;

}

.removeBtn{
  position: absolute;
  right: 25px;
  top: 10px;
}
.addBtn{
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#proInfoLabel{
  vertical-align: top;
}

img{
  /*width:75%;*/
  height:50%;
}
